asgiref
# Django==4.0
Django
# django-cors-headers==3.10.1
django-cors-headers
# djangorestframework==3.13.1
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
# djongo==1.3.6
# djongo
# pymongo==3.12.3
pymongo
mongoengine 
django-mongoengine